@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-container {
    @apply dark:bg-bgDarkPrimary h-[100vh] pt-32 sm:pt-24 sm:ml-56 text-black dark:text-white transition-all duration-500
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #C5C5C5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9D9D9D;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7B7B7B;
}